<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  </head>
  <header>
    <a class="logo">
      <img src="/images/favicon.png" alt="SU" />
      <p href="/">Stack<strong>Underflow</strong></p>
    </a>
    <nav>
      <a href="/questions">Questions</a>
      {{#if user}}
        <a href="/ask">Ask a question</a>
        <a href="/logout">Logout</a>
        <a href="/login">Login</a>
      {{else}}
        <a href="/register">Register</a>
      {{/if}}
    </nav>
  </header>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
</html>